*.o
*.a
*.abs
*.map
*.so
*.bak
*.sav
*.log
*.jou
*.mot
*.mem
*~
*#
.Xil
ip/ip_user_files/
ip/managed_ip_project/
syn/usage_statistics_webtalk.*
.project
.cproject
.svproject
.settings
.srcs
firm/term/term
kria_syn/rev/
kria_syn/bd125M/design_1/design_1.bda
kria_syn/bd125M/design_1/design_1.bxml
kria_syn/bd125M/design_1/design_1_ooc.xdc
kria_syn/bd125M/design_1/hdl/
kria_syn/bd125M/design_1/hw_handoff/
kria_syn/bd125M/design_1/ip/
kria_syn/bd125M/design_1/ipshared/
kria_syn/bd125M/design_1/sim/
kria_syn/bd125M/design_1/synth/
kria_syn/.gen/
kria_syn/.ip_user_files/
kria_syn/bd125M/bd125M.cache/
kria_syn/bd125M/bd125M.gen/
kria_syn/bd125M/bd125M.ip_user_files/
kria_syn/bd125M/bd125M.runs/
kria_syn/bd125M/bd125M.srcs/
